{% include 'sitio/cabecera.html' %}

    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3"> PORTAL MANEJO DE EMOCIONES TEA</h1>
            <p class="lead">Favor escoja opcion </p>
            <hr class="my-2">
            
            <P class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button" ></a>
                
            </p>
                  
               
        </div>
          
              
        <div>
            </div
                class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>  MENU - MANEJO DE EMOCIONES</h2>
                
                <p>Este portal permite evaluar el reconocimiento de Emociones,para niños con Diagnostico de TEA.</p>
                <button class="btn btn-outline-primary" type="button">INICIO</button>
            </div>
        </div>      

    </div>
    
{% include 'sitio/pie.html' %}