<!DOCTYPE html>
<html>
<head>
    <title>Mi Página Web</title>
    <link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
    <header>
        <img src="tu_logo.png" alt="Logo de mi sitio web">
        <h1>Bienvenido a mi sitio web</h1>
    </header>
    <nav>
        <!-- Agrega aquí tus enlaces de navegación si los tienes -->
    </nav>
    <main>
        <!-- Contenido principal de tu página -->
    </main>
    <footer>
        <!-- Pie de página de tu página web -->
    </footer>
</body>
</html>
