
{% include 'admin/cabecera.html' %}
  
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-3">Bienvenido al Administrador del sitio</h1>
    <p class="lead">Aqui podra administrar los recursos del sitio web </p>
    <hr class="my-2">
    <P class="lead">
          <button class="btn btn-primary btn-lg" href="admin/admn" role="button">Empezar la gestion</button>
          <button type="submit" class="btn btn-success">Entrar</button>
    </P>
    
  </div>
</div>

{% include 'admin/pie.html' %}